@media screen and (max-width: 922px) {
    div {
        .Container {
            main {
                .Todo {
                    .TaskModalContainer, .EditTaskModalContainer {
                        width: 40vw;
                        position: absolute;
                        top: 0%; 
                        left: 50%;
                        transform: translateX(-50%);

                        .TaskModalInnerContainer {
                            width: 30vw;
                                input, select {
                                    width: 25vw;
                                }
                                .task-note {
                                    max-width: 25vw;
                                    min-width: 25vw;
                                }
                                .create-btn {
                                    width: 10rem;
                                    font-size: 0.9rem;
                                }
                        }
                    }    
                }
                    .TodoWrapper {
                        width: 40vw;
                        
                        #filterContainer {
                            .search {
                                width: 18vw;

                                .search-input {
                                    width: 9vw;
                                    font-size: 0.85rem;
                                }
                            }

                            .select-wrapper { 
                                width: 18vw;
                                .css-b525cv-control, .css-17bb0rd-control {
                                    width: 18vw; 
                                    height: 2vh !important;
                                }
                                .selected-value {
                                    // left: 10%;
                                }
                            }
                        }
                        #todoContainer {
                            .Todo {
                                .inner-todo {
                                    .checkContainer {
                                        #taskName {
                                            font-size: 0.95rem;
                                        }                                        
                                    }
                                    .button-container {
                                        button {
                                            width: 1.1rem;
                                        }  
                                        .todo-category {
                                            font-size: 0.8rem;
                                        }                                         
                                    }

                                }
                                .detailContainer {
                                    font-size: 0.9rem;
                                }
                            }
                        }                      
                }
 
            }
        }
    }
}


/* 태블릿 */
@media screen and (max-width: 768px) {
    div {
        .Container {
            .Header {
                h2 {
                    font-size: 1.2rem;
                }
            }
            main {
                #categoryContainer {
                    left: -20%;
                }
                .Todo {
                    .TaskModalContainer, .EditTaskModalContainer {
                        width: 50vw;
                        position: absolute;
                        top: 0%; 
                        left: 50%;
                        transform: translateX(-50%);

                        .TaskModalInnerContainer {
                            width: 35vw;
                                input, select {
                                    width: 35vw;
                                }
                                .task-note {
                                    max-width: 35vw;
                                    min-width: 35vw;
                                }
                                .create-btn {
                                    width: 12rem;
                                    font-size: 0.9rem;
                                }
                        }
                    }       
                    .TodoWrapper {
                            width: 50vw;
                        #titleContainer {
                            .title {
                                font-size: 1.8rem;
                            }
                        }
                        #filterContainer {
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            gap: 1rem;
                                .search {
                                    width: 40vw;

                                .search-input {
                                        width: 34vw;
                                        font-size: 0.8rem;
                                }
                        }
                            .select-wrapper { 
                                width: 43vw;
                                .css-b525cv-control, .css-17bb0rd-control {
                                    width: 43vw; 
                                }
                                .selected-value {
                                    left: 25%;
                                }
                            }
                            .Todo {
                                font-size: 0.8rem;
                            }
                        }
                        #todoContainer {
                            .Todo {
                                .inner-todo {
                                    .checkContainer {
                                        #taskName {
                                            font-size: 0.9rem;
                                        }                                        
                                    }
                                    .button-container {
                                        button {
                                            width: 1.1rem;
                                        }  
                                        .todo-category {
                                            font-size: 0.7rem;
                                        }                                         
                                    }

                                }
                                .detailContainer {
                                    font-size: 0.8rem;
                                }
                            }

                        }

                        #taskCountBox {
                            height: 4rem;
                            font-size: 0.8rem;
                            flex-direction: column;
                        }
                    }             
                }
            }
        }        
    }
}

/* 모바일 화면 */
@media screen and (max-width: 576px) {
    div {
        .Container {
            .Header {
                h2 {
                    font-size: 1.2rem;
                }
            }
            main {
                .Todo {
                    .TaskModalContainer, .EditTaskModalContainer {
                        width: 60vw;
                        position: absolute;
                        top: 0%; 
                        left: 60%;
                        transform: translateX(-50%);

                        h3 {
                            font-size: 1.2rem;
                        }

                        .TaskModalInnerContainer {
                            width: 30vw;
                        
                                input, select {
                                    width: 25vw;
                                }
                                .task-note {
                                    max-width: 25vw;
                                    min-width: 25vw;
                                }
                                .create-btn {
                                    width: 10rem;
                                    font-size: 0.9rem;
                                }
                        }
                    }
                    .TodoWrapper {
                        width: 60vw;
                        left: 10%;

                        #titleContainer {
                            .title {
                                font-size: 1.5rem;
                            }
                            .todo-btn {
                                padding: 0.3rem;
                            }
                        }
                        #filterContainer {
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            gap: 1rem;
                                .search {
                                    width: 40vw;

                                .search-input {
                                        width: 34vw;
                                        font-size: 0.8rem;
                                }
                        }
                            .select-wrapper { 
                                width: 43vw;
                                .css-b525cv-control, .css-17bb0rd-control {
                                    width: 43vw; 
                                }
                                .selected-value {
                                    left: 25%;
                                }
                            }
                            .Todo {
                                font-size: 0.75rem;
                            }
                        }
                        #todoContainer {
                            .Todo {
                                .inner-todo {
                                    .checkContainer {
                                        #taskName {
                                            font-size: 0.8rem;
                                        }                                        
                                    }
                                    .button-container {
                                        button {
                                            width: 1.1rem;
                                        }  
                                        .todo-category {
                                            font-size: 0.7rem;
                                        }                                         
                                    }

                                }
                                .detailContainer {
                                    font-size: 0.8rem;
                                }
                            }
                        }

                        #taskCountBox {
                            height: 4rem;
                            font-size: 0.8rem;
                            flex-direction: column;
                        }
                    }    
                }
                #categoryContainer {
                    .category-filter {
                        font-size: 0.8rem;
                    }
                }
            }
        }        
    }
}